<html>
    <head> </head>
    <body>
        <h1>Upload</h1>
        <form enctype="multipart/form-data" action="/form/upload" method="post" autofill="off">
            <input type="file" name="file" id="file" title="select image file" accept="image/*">
            <button type="submit" class="primary" title="submit">Upload</button>
        </form>
    </body>
    <p><%=message%></p>

</html>